<div
  class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
>
  <div
    class="p-3 mr-4 text-indigo-500 bg-indigo-100 rounded-full dark:text-indigo-100 dark:bg-indigo-500"
  >
    {{{ await $slots.main() }}}
  </div>
  <div>
    <p
      class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
    >
    {{ title }}
    </p>
    <p
      class="text-lg font-semibold text-gray-700 dark:text-gray-200"
    >
      {{ text }}
    </p>
  </div>
</div>
