@set('defaultClasses', 'block px-6 py-2 mt-4 w-full text-lg text-center text-white transition-colors duration-150 bg-indigo-500 border border-transparent rounded active:bg-indigo-600 hover:bg-indigo-600 focus:outline-none focus:shadow-outline-indigo')

<button
  type="submit"
  {{ $props.serialize({ class: [classes, defaultClasses] }, false) }}
>
  @if(text)
    {{ text }}
  @else
    {{{ await $slots.main() }}}
  @end
</button>
