@admin.modal()
  @!admin.modal.header()
  @admin.modal.body({ title })
    @if(text)
      <p class="text-sm text-gray-700 dark:text-gray-400">
        {{ text }}
      </p>
    @end
  @end
  @!admin.confirm.footer()
@end
