@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='file']::-webkit-file-upload-button,
input[type='file']::file-selector-button {
  @apply text-white bg-indigo-700 hover:bg-gray-600 font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}

/* EDITOR QUILL */

.dark .editor-container path,
.dark .editor-container line,
.dark .editor-container polygon,
.dark .editor-container rect {
  stroke: rgba(158, 158, 158, var(--tw-text-opacity)) !important;
}

.editor-container .ql-picker-label{
  @apply text-gray-700 dark:text-gray-400
}

.editor-container .ql-toolbar.ql-snow, .editor-container .ql-container.ql-snow{
  @apply border-gray-300 dark:border-gray-600 rounded-t
}
.editor-container .ql-toolbar.ql-snow{
  @apply rounded-t
}
.editor-container .ql-container.ql-snow{
  @apply rounded-b rounded-t-none
}
